@import "tailwindcss";

:root {
  --color-background: #F9FAFB;
  --color-text: #111827;
  --color-primary: #2563EB;
  --color-secondary: #F59E0B;
  --color-accent: #10B981;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}
